.locationerr{
  height: 300px;
  width: 100%;
  text-align: center;
  img{
    width:200px;
    height:200px;
    margin:0 auto;
    display:block;
  }
  p{
    color: #666;
    font-size: 16px;
    text-align: center;
  }
  a{
    padding: 10px  20px;
    border-radius: 4px;
    background-color: #56d176;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration:none;
  }
}